<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
        <b-navbar-brand variant="faded" type="light" href="/">
          <i class="fa fa-info-circle" aria-hidden="true"></i>Movies
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item variant="faded" type="light" to="/chart" right>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </b-nav-item>
            <b-nav-item-dropdown type="dark" v-bind:text="select" right>
            <b-dropdown-item  v-for="filter in filters" v-bind:key="filter.id" v-on:click="filterHandler(filter)" >{{filter}}</b-dropdown-item>
            </b-nav-item-dropdown>
            <div class="mr-sm-2">
              <b-button :pressed.sync="boltState" variant="primary"><i class="fa fa-bolt"></i></b-button>
            </div>
            <b-nav-form @submit.prevent="getFilteredResponse">
            <b-form-input v-model="searched" size="sm" class="mr-sm-2" placeholder="Search" :disabled="filterSelect"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit" :disabled="filterSelect" >Search</b-button>
            </b-nav-form>
          </b-navbar-nav>
        </b-collapse>
    </b-navbar>
  <b-container responsive>
    <b-card>
      <b-container v-if="$mq === 'mobile'">
        <b-row align-h="center" class="pb-3">              
          <b-button-group size="sm">
            <b-button class="genre1" v-for="genre1 in genres1" :key="genre1.id" @click="getGenreMovies(genre1);" :pressed.sync="genre1.state" variant="outline-primary">{{genre1.caption}}</b-button>
          </b-button-group>
          <b-button-group size="sm">
            <b-button v-for="genre2 in genres2" :key="genre2.id" @click="getGenreMovies(genre2);" :pressed.sync="genre2.state" variant="outline-primary">{{genre2.caption}}</b-button>
          </b-button-group>
        </b-row>
        <b-row align-h="center">
          <b-button-group size="sm">
            <b-button v-for="rate in rated" :key="rate.id" @click="getRatedMovies(rate);" :pressed.sync="rate.state" variant="outline-primary">{{rate.caption}}</b-button>
          </b-button-group>
        </b-row>
      </b-container>
      <b-container v-if="$mq === 'desktop'">
        <b-row align-h="center" class="pb-3">              
          <b-button-group>
            <b-button v-for="genre1 in genres1" :key="genre1.id" @click="getGenreMovies(genre1);" :pressed.sync="genre1.state" variant="outline-primary">{{genre1.caption}}</b-button>
          </b-button-group>
          <b-button-group>
            <b-button v-for="genre2 in genres2" :key="genre2.id" @click="getGenreMovies(genre2);" :pressed.sync="genre2.state" variant="outline-primary">{{genre2.caption}}</b-button>
          </b-button-group>
        </b-row>
        <b-row align-h="center">
          <b-button-group>
            <b-button v-for="rate in rated" :key="rate.id" @click="getRatedMovies(rate);" :pressed.sync="rate.state" variant="outline-primary">{{rate.caption}}</b-button>
          </b-button-group>
        </b-row>
      </b-container>
    </b-card>
    <b-container v-if="nodata">
      
    </b-container>
    <b-table responsive id="my-table" striped hover 
    :items="filteredNames"
    :per-page="perPage"
    :current-page="currentPage"
    ></b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
      align="center"
    ></b-pagination>
    <!-- <b-list-group>
      <b-list-group-item v-for="name in filteredNames" :key="name.id">
        {{ name }}
      </b-list-group-item>
    </b-list-group> -->
  </b-container>
 </div>
</template>

<script>
import axios from "axios";

  export default {
    data() {
      return {
        perPage: 20,
        currentPage: 1,
        select:'Filter By',
        filterSelect:true,
        boltState:false,
        genres1:[
          {caption:'Sci-Fi',state:false},
          {caption:'History',state:false},
          {caption:'Drama',state:false},
          {caption:'Romance',state:false},
          {caption:'Thriller',state:false}
          ],
        genres2:[
          {caption:'Comedy',state:false},
          {caption:'Fantasy',state:false},
          {caption:'Drama',state:false},
          {caption:'Biography',state:false}
          ],
        genres:[],
        rated:[
         {caption:'Best Rated',state:false},
          {caption:'Average Rated',state:false},
          {caption:'Worst Rated',state:false}, 
        ],
        genreSelected:'',
        genreState:false,
        rateSelected:'',
        rateState:false,
        searched:'',
        nodata:false,
        items: [],
        filters:['MOVIE_ID','TITLE','RATING','TOTAL_VOTES','GENRE1','GENRE2','GENRE3','META_CRITIC','BUDGET','RUNTIME']
      }
    },
    computed: {
      rows() {
        return this.filteredNames.length
      },
      filteredNames() {
        if(this.boltState==true){
          let filter = new RegExp(this.searched, 'i')
          //console.log(this.titleArr.filter(el => el.match(filter)))
          if(this.select=='MOVIE_ID')
            return this.items.filter(el => el.MOVIE_ID.toString().match(filter))
          else if(this.select=='TITLE')
            return this.items.filter(el => el.TITLE.match(filter))
          else if(this.select=='RATING')
            return this.items.filter(el => el.RATING.toString().match(filter))
          else if(this.select=='TOTAL_VOTES')
            return this.items.filter(el => el.TOTAL_VOTES.toString().match(filter))
          else if(this.select=='GENRE1')
            return this.items.filter(el => el.GENRE1.match(filter))
          else if(this.select=='GENRE2')
            return this.items.filter(el => el.GENRE2.match(filter))
          else if(this.select=='GENRE3')
            return this.items.filter(el => el.GENRE3.match(filter))
          else if(this.select=='META_CRITIC')
            return this.items.filter(el => el.META_CRITIC.toString().match(filter))
          else if(this.select=='BUDGET')
            return this.items.filter(el => el.BUDGET.match(filter))
          else if(this.select=='RUNTIME')
            return this.items.filter(el => el.RUNTIME.match(filter))
          else
           return this.items.filter(el => el.TITLE.match(filter))
        }
        else{
          return this.items
        }
      }
    },
    created(){
      this.genres=this.genres1.concat(this.genres2);
      axios
        .get("api/")
        .then(response => {
          this.items=response.data;
        })
        .catch(err => {
          this.toastError(err);
        });
    },
    methods:{
      toastError(err){
          this.$bvToast.toast(`${err}`, {
          title: 'Notice!',
          variant: 'warning',
          toaster:'b-toaster-bottom-right',
          solid: true
          });
      },
      toastRule(rule){
          this.$bvToast.toast(`Rule: ${rule}`, {
          title: 'Note',
          variant: 'primary',
          toaster:'b-toaster-bottom-right',
          solid: true
          });
      },
      filterHandler(filter){
        this.select=filter ;
        this.filterSelect= false
      },
        getFilteredResponse(){

        if(this.genreSelected ==''){
          axios
          .get(`api/filter?${this.select}=${this.searched}`)
          .then(response => {
            //console.log(response.data);
            this.items=response.data;
          })
          .catch(err => {
            this.toastError(err);
          });
        }
        else{
          axios
          .get(`api/filter?genre=${this.genreSelected}&${this.select}=${this.searched}`)
          .then(response => {
            //console.log(response.data);
            this.items=response.data;
          })
          .catch(err => {
            this.toastError(err);
          });
        }
      },
      getGenreMovies(genre){
        let url;
        this.genreSelected=genre.caption;
        this.genreState = genre.state;
        //genre.state=!genre.state;
        for(let i=0;i<this.genres.length;i++){
          if(this.genres[i].caption==genre.caption)
            continue;
          this.genres[i].state=false;
        }

        if(genre.state==true){
          if(this.rateSelected=='' && !this.rateState){
            url=`api/movies?genre=${this.genreSelected}`;
          }else{
            url=`api/movies?genre=${this.genreSelected}&rating=${this.rateSelected}`;
            //this.rateSelected=''
          }
          axios
          .get(url)
          .then(response => {
            //console.log(response.data);
            this.items=response.data;
          })
          .catch(err => {
            this.toastError(err);
          });
        }
        else{
          if(this.rateSelected=='' && !this.rateState){
            url=`api/`;
            this.genreSelected=''
          }else{
            url=`api/movies?rating=${this.rateSelected}`;
            this.genreSelected=''       
          }
          axios
          .get(url)
          .then(response => {

            this.items=response.data;
          })
          .catch(err => {
            this.toastError(err);
          });
        }
      },
      getRatedMovies(rate){
        let url;
        if(rate.caption=='Best Rated')
          this.rateSelected='best';
        if(rate.caption=='Average Rated')
          this.rateSelected='average';
        if(rate.caption=='Worst Rated')
          this.rateSelected='worst';
        this.rateState = rate.state;
        for(let i=0;i<this.rated.length;i++){
          if(this.rated[i].caption==rate.caption)
            continue;
          this.rated[i].state=false;
        }
        if(rate.state==true){
          //console.log(this.genreSelected);
          if(this.genreSelected=='' && !this.genreState){
            url=`api/movies?rating=${this.rateSelected}`;
          }else{
            url=`api/movies?genre=${this.genreSelected}&rating=${this.rateSelected}`
            //this.genreSelected=''
          }
          axios
          .get(url)
          .then(response => {
            //console.log(response.data);
            if(this.rateSelected=='best')
              this.toastRule('Rating greater than 8 is considered Best');
            else if(this.rateSelected=='average')
              this.toastRule('Rating lies between 7.5 and 8 is considered Average');
            else if(this.rateSelected=='worst')
              this.toastRule('Rating less than or equal to 7.5 is considered Worst');

            this.items=response.data;
          })
          .catch(err => {
            this.toastError(err);
          });
        } 
       else{
         if(this.genreSelected=='' && !this.genreState){
            url=`api/`;
            this.rateSelected=''
          }else{
            url=`api/movies?genre=${this.genreSelected}`
            this.rateSelected='';
            
          }
          axios
          .get(url)
          .then(response => {
            //console.log(response.data);
            this.items=response.data;
          })
          .catch(err => {
            this.toastError(err);
          });
        }
      }
    }
  }
</script>





