<template>
<div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
        <b-navbar-brand variant="faded" type="light" to="/">
          <i class="fa fa-info-circle" aria-hidden="true"></i>Movies
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    </b-navbar>
  <div class="container">
    <CommitChart/>
  </div>
</div>
</template>
<script>
import CommitChart from '../components/CommitChart';
import axios from "axios";

  export default {
  name: 'chart',
  components: {
    CommitChart
  }
}
</script>



